{% extends 'base.html.twig' %}
{% block body %}
<h1>Création d'un article</h1>
{{ form_start(formArticle) }}
 {# form() : fonction TWIG #}
 {# {{ form(formArticle) }} #}
 <div class="form-group">
 <label for="titre">Titre</label>
 {{ form_widget(formArticle.title) }}
 </div>
 <div class="form-group">
 <label for="titre">Contenu</label>
 {{ form_widget(formArticle.content) }}
 </div>
 <div class="form-group">
 <label for="titre">Image</label>
 {{ form_widget(formArticle.image) }}
 </div>
 {{ form_end(formArticle) }}

{% endblock %}